<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Imperial Auto Peças & Acessórios</title>
    <meta name="keywords" content="imperial auto peças, peças automotivas, caçapava, acessórios">
    <meta  name="description" content="Imperial Auto Peças & Acessórios - A melhor escolha para seu carro!"> 

    <meta property="og:site_name" content="Imperial Auto Peças & Acessórios" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://imperialautopecas.com.br/" />
    <meta property="og:title" content="Imperial Auto Peças & Acessórios" />
    <meta property="og:description" content="Imperial Auto Peças & Acessórios - A escolha certa para seu carro!" />
    <meta property="og:image:url" content="http://imperialautopecas.com.br/assets/img/meta_logo.jpg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="" class="imperial-logo yellow">
              <img src="assets/img/logo_blue.png" alt="" class="imperial-logo blue" style="display: none;"></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#auto-pecas">
                  Auto Peças
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#promo">
                  Promoções
                </a>                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#quem-somos">
                  Quem somos 
                </a>	                
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#fale-conosco">
                  Fale conosco
                </a>
              </li>

              <li class="nav-item">
                <ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="instagram" href="#"><i class="lni-instagram-filled"></i></a></li>
                </ul>
              </li>
            </ul>
            
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#auto-pecas">
                  Auto Peças
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#promo">
                  Promoções
                </a>                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#quem-somos">
                  Quem somos 
                </a>                  
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#fale-conosco">
                  Fale conosco
                </a>
              </li>

              <li class="nav-item">
                <ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="instagram" href="#"><i class="lni-instagram-filled"></i></a></li>
                </ul>
              </li>
            </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 text-center">
              <div class="contents">
                <h1 class="head-title">Imperial <span class="year">Auto Peças</span></h1>
                <p>Seja bem-vindo(a) loja de Auto Peças & Acessórios mais completa e com os melhores preços da região!<br>Cadastre seu e-mail abaixo para receber nossas promoções: </p>
                <div class="search-bar">
                  <fieldset>
                    <form class="search-form">
                      <div class="form-group tg-inputwithicon">
                        <i class="lni-envelope"></i>
                        <input type="text" name="customword" class="form-control" placeholder="Digite seu e-mail aqui...">
                      </div>
                      
                      <button class="btn btn-common" type="button">Cadastrar</button>
                    </form>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="background-video" class="background-video">
          <img src="images/placeholder.jpg" alt="" class="placeholder-image">
        </div>
      </div>
      <!-- Hero Area End -->
      
    </header>
    <!-- Header Area wrapper End -->

        <!-- Featured Section Start -->
    <section id="auto-pecas" class="featured section-padding">
      <div class="container text-center wow  wow fadeInUp">
        <h1 class="section-title">Qualidade e Garantia!</h1>
<h5>Na Imperial você encontra peças de todos os tipos,<br>originais e recondicionadas, sempre com qualidade e garantia!</h5></br>
<a href="#" target="_blank" rel="nofollow" class="btn btn-common btn-lg"><span class="lni-pointer-right"></span> Veja nosso catálago abaixo!</a>
      </div>
    </section>
    <!-- Featured Section End -->

    <!-- Imperial Categories Section Start -->
    <section class="trending-cat section-padding">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/damper.png" alt="">
                </div>
                <h4>Amortecedor e Suspensão</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/battery.png" alt="">
                </div>
                <h4>Baterias</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/temperature.png" alt="">
                </div>
                <h4>Sistema de arrefecimento</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/alloy-wheel-7.png" alt="">
                </div>
                <h4>Calotas e acessórios</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/engine.png" alt="">
                </div>
                <h4>Ignição e injeção</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/oil-1.png" alt="">
                </div>
                <h4>Mangueiras e lubrificantes</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/gearshift-1.png" alt="">
                </div>
                <h4>Kit Embreagem</h4>
                <strong></strong>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="box">
                <div class="icon">
                  <img class="img-fluid" src="assets/icon/break-1.png" alt="">
                </div>
                <h4>Freios e fluídos</h4>
                <strong></strong>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Categories Section End -->

    
    <!-- Promo Section -->
    <section id="promo" class="featured-lis section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
            <h3 class="section-title">Promoções</h3>
            <div id="new-products" class="owl-carousel">
              
              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/kit_embreagem_valeo.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 183,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="ads-details.html">KIT Embreagem VALEO</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Kit Embreagem</a>
                    <a href="#"><i class="lni-cog"></i> Linha Fire 1.0 e 1.3</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/prolonga.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 39,90</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Aditivo BARDAHL</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Óleos</a> 
                    <a href="#"><i class="lni-cog"></i> Prolonga</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/desengripante.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 7,50</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Desengripante Radnaq</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Óleos</a> 
                    <a href="#"><i class="lni-cog"></i> Lub40</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/aditivo.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 7,50</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Aditivo Radnaq</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Óleos</a> 
                    <a href="#"><i class="lni-cog"></i> Concentrado</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/bateria.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 165,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Bateria Lider 50AH</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Baterias</a> 
                    <a href="#"><i class="lni-cog"></i> c/ manutenção á base de troca</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/oleo.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 10,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Óleo Centurion</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Óleos</a> 
                    <a href="#"><i class="lni-cog"></i> 20w50 Mineral</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/amor_corsa.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 330,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Amortecedor COFAP par dianteiro</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Amortecedores</a> 
                    <a href="#"><i class="lni-cog"></i> corsa/celta/prisma</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/amor_corsa_tras.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 261,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Amortecedor COFAP par traseiro</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Amortecedores</a> 
                    <a href="#"><i class="lni-cog"></i> corsa/celta/prisma</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/amor_gol.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 200,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Amortecedor COFAP par dianteiro</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Amortecedores</a> 
                    <a href="#"><i class="lni-cog"></i> Gol até G4</a>
                  </div>
                </div>
              </div><!-- /item -->

              <div class="item">
                <div class="product-item">
                  <div class="carousel-thumb"> <img class="img-fluid" src="assets/img/product/amor_gol_tras.jpg" alt="">
                    <div class="overlay"> </div>
                    <span class="price">R$ 230,00</span> </div>
                  <div class="product-content">
                    <h3 class="product-title"><a href="#">Amortecedor COFAP par traseiro</a></h3>
                    <a href="#"><i class="lni-bookmark"></i> Amortecedores</a> 
                    <a href="#"><i class="lni-cog"></i> Gol até G4</a>
                  </div>
                </div>
              </div><!-- /item -->


              
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Quem sonos Section Start -->
    <section id="quem-somos" class="services section-padding">
      <div class="container">
        <h3 class="section-title">Quem somos</h3>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="about-wrapper">
              <h2 class="intro-title">Imperial Auto Peças - A melhor escolha para seu carro!</h2>
              <p class="intro-desc">
              Desde sua fundação, em Agosto 2017 a Imperial Auto peças & acessórios vem se consolidando no mercado local e regional de peças automotivas. Desde seu início oferecendo peças de alta qualidade, com garantia e a consciência de que o cliente sabe que está adquirindo peças de PROCEDÊNCIA.
              </p>
              <p>Nos distinguimos das demais lojas, pois nossa maior preocupação é prestar o melhor atendimento, com conhecimento e visando sempre a satisfação total do cliente. Outro ponto de destaque é nosso preço, sempre com as melhores ofertas, preços justos para o morador de Caçapava e região.</p>
              <p>Nosso maior objetivo é ser não só uma opção, mas a referência em peças para seu veículo, não sendo necessário que nossa população local busque no comercio de cidades vizinhas melhores condições, o melhor você sempre encontrará aqui.<p>
              <p>Contamos com serviço de entrega, atendimento personalizado através do WhatsApp e telefone. </p>
              <p>Não esqueça Imperial “A melhor escolha para seu carro”.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <img class="img-fluid" src="assets/img/about/about.png" alt="">
          </div>
        </div>
      </div>

      
    </section>
    <!-- Quem somos Section End -->

    <!-- Diferenciais Section End -->
    <section class="diferenciais section-padding">
      <div class="container">
        <h3 class="section-title">Diferenciais</h3>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Peças originais</a></h3>
                <p>Trabalhamos com peças originais de qualidade e recondicionadas</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
              <div class="icon">
                <i class="lni-wallet"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">O melhor preço</a></h3>
                <p>Comprovadamente o melhor preço da cidade e grandes promoções</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-package"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Diversidade</a></h3>
                <p>Encontre peças e acessórios de diversas marcas e modelos</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lni-headphone"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Atendimento</a></h3>
                <p>Atendimento personalizado através dos nossos canais de contato</p>
              </div>
            </div>
          </div>
           <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1s">
              <div class="icon">
                <i class="lni-map-marker"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Entrega gratuita</a></h3>
                <p>Compre conosco e nosso motoboy lhe entregará o mais rápido possível</p>
              </div>
            </div>
          </div>
           <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lni-layout"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Estacionamento</a></h3>
                <p>Venha até a loja e estacione com segurança e tranquilidade</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-4 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-phone-handset"></i></div>
              <div class="counterUp">3653.1556</div>
              <p>Comercial</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-4 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-phone"></i></div>
              <div class="counterUp">3653.2206</div>
              <p>Comercial</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-4 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-mobile"></i></div>
              <div class="counterUp">97409.5671</div>
              <p>Whatsapp</p>
            </div>
          </div>
          <!-- Counter Item -->
          <!--<div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-briefcase"></i></div>
              <div class="counterUp">2018</div>
              <p>Nextel</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Featured Section Start -->
    <section id="fale-conosco" class="featured section-padding">
      <div class="container text-center wow  wow fadeInUp">
        <h1 class="section-title">Fale conosco</h1>
        <h5>Preencha o formulário abaixo e envie sua mensagem!</h5></br>
        <form class="contact-form">
        <div class="row wrapper-sub">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="name" placeholder="Nome completo" required="" type="text">
            <input class="form-control" name="email" placeholder="Seu e-mail aqui" required="" type="email">
            <input class="form-control" name="phone" placeholder="Telefone" required="" type="text">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="subject" placeholder="Assunto" required="" type="text">
            <textarea class="form-control" placeholder="Digite sua mensagem aqui..."></textarea>
          </div>
        </div>
        <div class="text-center"><button class="btn btn-common" type="submit">Enviar Mensagem</button></div>
        </form>        
      </div>
    </section>
    <!-- Featured Section End -->


    <!-- Subscribe Section Start -->
    <section class="subscribes section-padding" style="background-color: #eee">
      <div class="container">
        <div class="row wrapper-sub">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>Cadastre-se para receber por e-mail as melhores promoções e ofertas da cidade:</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <form>
              <div class="subscribe">
                <input class="form-control" name="email" placeholder="Seu e-mail aqui" required="" type="email">
                <button class="btn btn-common" type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Sobre a Imperial</h3>
                <div class="textwidget">
                  <p>Nosso maior objetivo é ser não só uma opção, mas a referência em peças para seu veículo, não sendo necessário que nossa população local busque no comercio de cidades vizinhas melhores condições, o melhor você sempre encontrará aqui.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Navegação</h3>
                <ul class="menu">
                  <li><a href="#">Página inicial</a></li>
                  <li><a href="#">Auto Peças</a></li>
                  <li><a href="#">Promoções</a></li>
                  <li><a href="#">Quem somos</a></li>
                  <li><a href="#">Fale conosco</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Atendimento rápido</h3>
                <ul class="menu">
                  <li><a href="#">Chat online</a></li>
                  <li><a href="#">Whats App</a></li>
                  <li><a href="#">Nextel Rádio</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Informações de contato</h3>
                <ul class="contact-footer">
                  <li>
                    <strong>Endereço :</strong><span>Av. Dr Antônio Pereira Bueno, 45</span>
                  </li>
                  <li>
                    <strong>Telefone :</strong><span>(12) 3653-1556</span>
                  </li>
                  <li>
                    <strong>E-mail :</strong><span><a href="#">contato@imperial.com.br</a></span>
                  </li>
                </ul>  
                <ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="#"><i class="lni-instagram-filled"></i></a></li>
                </ul>          
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-left">
                <p>Todos os direito reservados &copy; 2018 - <a href="#" rel="nofollow">Imperial Auto Peças & Acessórios</a></p>
              </div>              
              <div class="float-right">  
                <ul class="bottom-card">
                  <li>
                      <a href="#"><img src="assets/img/footer/card1.jpg" alt="card"></a>
                  </li>
                  <li>
                      <a href="#"><img src="assets/img/footer/card2.jpg" alt="card"></a>
                  </li>
                  <li>
                      <a href="#"><img src="assets/img/footer/card3.jpg" alt="card"></a>
                  </li>
                  <li>
                      <a href="#"><img src="assets/img/footer/card4.jpg" alt="card"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End --> 

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="youtube/src/jquery.youtubebackground.js"></script>
    <script>
    jQuery(function($) {

      $('#background-video').YTPlayer({
        fitToBackground: false,
        videoId: 'N_NUq-7GW-g',
        pauseOnScroll: false,
        playerVars: {
          modestbranding: 0,
          autoplay: 1,
          controls: 1,
          showinfo: 0,
          branding: 0,
          rel: 0,
          autohide: 0
        }
      });
      
      
    });
  </script>

  </body>
</html>
